/*  your css code here. If applicable */

.container{
	height:200px;
	width:90vw;
	display:flex;
	justify-content:center;
	border:5px solid black;
    border-radius:50px;
	background-color:grey;
	gap:8px;
	align-items:center;
}

.green{
	border-radius:50%;
	background-color:green;
	width:20%;
	height:50%
}
.yellow{
	border-radius:50%;
	background-color:yellow;
	width:20%;
	height:50%
}
.red{
	border-radius:50%;
	background-color:red;
	width:20%;
	height:50%
}



